
<div class="panel panel-default">
  <div class="panel-body">
    <div class="group ads-image-css">
        <img src= "https://ww4.sinaimg.cn/large/006tKfTcly1fnt6b3yncgj30ik0t8dhw.jpg" >
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="group">

      <%= link_to("我要投稿", new_article_path, class: "btn btn-danger btn-block") %>

    </div>
  </div>
</div>
