//candy-nav 
.candy-nav{
  flex: 0 0 auto;
}

/* 超小屏幕sm（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

/* 当小屏幕（平板，大于等于 768px）时，即sm,应用以下样式 */
@media screen and (min-width: 768px) { 
  .article-index-box {  
    padding-top: 10px;
    margin-top: -10px;
    // margin: 10px 0px 10px 0px;
  }
}

/* 当中等屏幕（桌面显示器，大于等于 992px）时,即md,应用以下样式 */
@media screen and (min-width: 992px) { 
  .article-index-box {  
    padding-top: 10px;
    margin-top: -10px;
    // margin: 10px 0px 10px 0px;
  }
}

/* 当大屏幕（大桌面显示器，大于等于 1200px）时,即lg,应用以下样式 */
@media screen and (min-width: 1200px){ 
  .article-index-title {
    font-size: 1.3em;  //1.5% 设置width（可以理解为宽度单位）
    font-weight: normal;
  }
}


// article/index CSS

.article-index-box {  
  padding-top: 10px;
  margin-top: -10px;
  // margin: 10px 0px 10px 0px;
}

.article-box {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 14px 0 14px 0;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  
  .article_image_css{
    img {
      overflow: hidden;
      max-width: 100%; 
      width: auto;
      height: auto;       
      border-radius: 3px;                 //为图片设置3px的圆角
      } 
  }
}

.article-index-summary {
  // 下面几句，限制只显示几行文章，超出部分显示省略号
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;  //这里是在第4行有省略号
  overflow: hidden;
  text-overflow:ellipsis; 
  height: 75px;
  width: 100%;
  
  p {
    font-size: 0.9em;
    font-weight: normal;
    color: #999;
    // line-height: 1.8em;
  }
}

.article-index-title {
  font-size: 1.5vw;  //1.5% 设置width（可以理解为宽度单位）
  // font-size: 1.3em; 
  font-weight: normal;
}

.article-time-tag {
  // color: #999;
  margin-top: 10px;
  font-size: 0.9em; 
  // font-size: 0.9vw;
}


// article/show CSS

.article-show {
  .article-show-summary {
    // 下面几句，限制只显示几行文章，超出部分显示省略号
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;  //这里是在第4行有省略号
    overflow: hidden;
    text-overflow:ellipsis; 
  }
  .article-statement{
    font-size: 1em;
  }
  .article-user-name{
    color: red;
  }
}

.article-show-box {
  padding-top: 10px;
  margin-bottom: 60px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.article-title {
  h1 {
    font-size: 2em;
    font-weight: normal;
  }
}

.article-author {
  margin: 15px auto 10px;
  color: #7f8c8d;
  font-size: 0.9em;
  .chainsite-qq{
    color: red;
  }
  .chainsite-telegarm{
    color: red;
  }
}

.article-image {
  margin: 5px auto 5px;
}

.article-content {
  margin: 30px auto;
  font-size: 1em;
  line-height: 1.8em;                   //拉开行高
  text-align: justify;                  //文本两端对齐,可以实现文本排版的工整对齐，避免出现掉字、掉标点这样的低级排版错误，影响页面美观度。
  img {
    max-width:100%; height:auto;         //重要样式代码，需要配合application.js的自适应代码块一起使用。可以实现图片按照divbox大小自动伸缩，从而实现响应式布局。
    border-radius: 6px;                 //为所有图片设置6px的圆角
    }
}



// 侧边栏
.article-sidebar{
  background-color: #fff;
  margin-bottom: 16px;
}
.article-side-author {
  margin: -19px 0 0 0 ;
  background-color: #fff;
}

.article-avatar {
  margin: 20px auto 10px;
}

.article-site-name {
  color: red;
  font-size: 1em;
}

.article-author-summary {
  margin: 20px 20px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.8em;
  color: #999;
  text-align: justify;
}

.article-author-title-list {
  margin: 20px 20px;
  color: #7f8c8d;
  font-size: 1em;
  line-height: 1.8em;
  list-style: none;
  background-color: #fff;
}

.article-author-title-list-time {
  font-size: 0.6em;
  color: #7f8c8d;
}

.article-show-hot-list {
  padding: 5px 10px 5px 10px;
  color: #7f8c8d;
  font-size: 0.9em;
  line-height: 1.3em;
  list-style: none;
  background-color: #fff;
}

.article-show-hot {

  img {
    max-width:100%; height:40px;         //重要样式代码，需要配合application.js的自适应代码块一起使用。可以实现图片按照divbox大小自动伸缩，从而实现响应式布局。
    border-radius: 6px;                 //为所有图片设置6px的圆角
    }
}
