// Place all the styles related to the article_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// article_tags/show CSS

.article-category-show-box {  
  padding-top: 10px;
  margin-top: -10px;
  // margin: 10px 0px 10px 0px;
}

.article-category-box {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 14px 0px 14px 0px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  
  .article_image_css{
    img {
      overflow: hidden;
      max-width: 100%; 
      width: auto;
      height: auto;       
      border-radius: 3px;                 //为图片设置3px的圆角
      }  
  }
}

.article-category-show-summary {
  // 下面几句，限制只显示几行文章，超出部分显示省略号
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;  //这里是在第4行有省略号
  overflow: hidden;
  text-overflow:ellipsis; 
  height: 75px;
  width: 100%;
  
  p {
    font-size: 0.9em;
    font-weight: normal;
    color: #999;
    // line-height: 1.8em;
  }
}

.article-category-show-title {
  font-size: 1.5vw;  //1.5% 设置width（可以理解为宽度单位）
  font-weight: normal;
}

.article-category-time-tag {
  // color: #999;
  margin-top: 10px;
}