<div class="panel panel-default">
  <div class="panel-heading">广告位</div>
  <div class="panel-body ads-image-css">
    <img src= "https://ww1.sinaimg.cn/large/006tNc79gy1frsixa2nhvj30nw0nw75h.jpg" >
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">关注我们</div>
  <div class="panel-body ads-image-css">
    <img src= "https://ww1.sinaimg.cn/large/006tNc79gy1frsixa2nhvj30nw0nw75h.jpg" >
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">统计信息</div>
  <ul class="list-group">
    <li class="list-group-item">已收录网址:  <%= Site.count %> 个</li>
    <li class="list-group-item">文章数: <%= Article.count %>  篇</li>
  </ul>
</div>